.compare-container {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 20px;
}

.search-container {
  text-align: right;
  margin-bottom: 20px;
}

.search-bar {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 300px;
}

.select-universities-container {
  padding: 20px;
}

.university-table {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 483px;
}

.table-header {
  display: flex;
  background-color: #f4f4f4;
  font-weight: bold;
}

.table-header-item {
  flex: 1;
  padding: 10px;
  text-align: center;
  border-bottom: 2px solid #ddd;
}

.university-list {
  max-height: 500px;
  overflow-y: auto;
}

.university-row {
  display: flex;
  border-bottom: 3px solid gold;
  align-items: center;
}

.table-item {
  flex: 1;
  padding: 10px;
  text-align: center;
  border-right: 1px solid #ddd;
}

.image-item img {
  max-width: 100px;
  height: auto;
}

.select-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.select-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.selected-popup {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-height: 240px;
  transition: transform 0.3s ease-in-out;
  transform: translateY(100%);
}

.selected-popup.show {
  transform: translateY(0);
}

/* .selected-colleges {
  display: flex;
  justify-content: space-between;
  width: 80%;
} */

/* .selected-college-box {
  width: 30%;
  padding: 10px;
  border: 2px solid #ddd;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 10px;
} */

/* .selected-college-image {
  max-width: 150px;
  height: auto;
} */

.plus-sign {
  font-size: 2rem;
  color: #007bff;
  border: 2px solid #007bff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

/* .popup-actions {
  display: flex;
  justify-content: space-between;
  width: 20%;
} */

/* .continue-button, .cancel-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
} */

/* .cancel-button {
  background-color: #dc3545;
} */

/* .continue-button:hover,
.cancel-button:hover {
  opacity: 0.8;
} */

.star {
  font-size: 16px;
  color: #ddd;
}

.star.filled {
  color: gold;
}

.mba-info {
  margin-top: 40px;
  text-align: left;
}

.mba-info h2 {
  margin-bottom: 20px;
}

.mba-info p {
  margin-bottom: 10px;
}

.mba-info ul {
  margin-left: 20px;
}

.mba-info ul li {
  margin-bottom: 10px;
}