/* General Pop-up Styles */
.popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    z-index: 1000;
  }
  
  .popup-content {
    background: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    width: 100%;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #fff;
    transform-style: preserve-3d;
    transition: transform 0.3s;
  }
  
  .popup-content:hover {
    transform: perspective(1000px) rotateY(5deg);
  }
  
  .close-popup {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 1.5em;
    color: #fff;
  }
  
  .input-field {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
    backdrop-filter: blur(5px);
    color: #000;
  }
  
  .submit-button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: rgba(17, 110, 10, 0.873);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .submit-button:hover {
    background-color: rgba(21, 185, 29, 0.719);
    transform: scale(1.05);
  }
  
  /* End of Pop-up Styles */
  